@tailwind base;
@tailwind components;
@tailwind utilities;

@layer{
    :root{
        color-scheme: light dark;
        color: rgba(4, 13, 18, 1);
        background-color: rgba(245, 243, 232, 1);

        --color-bg: 245, 243, 232;
        --color-secondary: 0, 91, 73;
        --color-accent: 247, 135, 100;
        scroll-behavior: smooth;
    }
}

@font-face {
    font-family: DMSerifDisplay;
    src: url("../../public/font/DM_Serif_Display/DMSerifDisplay-Regular.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: JosefinSans;
    src: url('../../public/font/Josefin_Sans/JosefinSans-Regular.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
}